.mechSignUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mechSignUpText {
  font-size: 15px;
  margin-bottom: 0px !important;
}

.signupFormCont {
  display: flex;
  justify-content: center;
}
