header {
    background-color: white !important;
}

.headerLinks {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.navLinks {
    display: flex;
}

.headerImg {
    width: 100%;
}
/* .myProfile,
.loginBtn {
    margin-right: 5px;
} */

.loginBtn,
.logoutBtn {
    color: lightslategray !important;
    width: 130px;
    /* border: 1px solid lightslategray;
    border-radius: 3rem;
    transition: 0.3s; */
}

.logoutBtn:hover,
.loginBtn:hover {
    background-color: lightslategray;
    color: white !important;
  }